header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 520px;
  background-color: #133B2F;
  background-image: url(https://i.imgur.com/sVsbDVL.png);
}

.profile-pic {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.header-profile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}