#profile-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 520px;
  background-color: #133B2F;
  background-image: url(https://i.imgur.com/sVsbDVL.png);
  margin-right: 58.25px;
  margin-left: 58.25px;
}

.profile-pic {
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.header-profile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 960px) {
  #profile-head {
    display: flex;
    flex-direction: column;
    height: 520px;
    background-color: #133B2F;
    background-image: url(https://i.imgur.com/sVsbDVL.png);
    margin-right: 58.25px;
    margin-left: 58.25px;
    margin-bottom: 0px;
    margin-top: 145px;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .header-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .profile > h2:nth-child(1) {
    text-align: center;
  }
  
}