.new-tweet {
  padding-bottom: 20px;
}

.container > #tweet-text {
  display: flex;
  flex: 0 0 100%;
}

.container > h2 {
  text-align: center;
}
#tweet-text {
  background-color: #192622;
  resize: none;
  border-width: 0px;
  width: 90%;
  height: 35px;
  margin-left: 35px;
}

.tweet-charCount {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  margin: 0 58.25px 0 58.25px;;
}

.tweet-button {
  background-color: #17FFAA;
}

hr {
  width: 90%;
}

#tweet-text-label {
  text-align: left;
  margin-left: 35px;
}